extends layout.pug
block content
  div.container
    ul.articles
      each index in article
        div.style
          h3= index.titulo
          br
          h5= index.cuerpo
          br
          h5= index.autor
          h5= index.bibliografia
          h5= index.tema